.headers {
    position: sticky;
    top: 0;
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    z-index: 1;
}

.search {
    position: sticky;
    top: 5.5vh;
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    z-index: 1;
}

.category {
    background-color: white;
    height: 250px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.main {
    background-color: white;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.footer {
    background-color: blue;
    height: 45px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

body {
    margin: auto;
}

.labelSupport {
    background-color: black;
    height: 40px;
    width: 120px;
    margin-right: auto;
}

.labelRA {
    background-color: black;
    height: 40px;
    width: 200px;
    margin-left: auto;
}

.Amogo {
    background-color: black;
    height: 42px;
    width: 120px;
    margin: auto;
}

.labelAdvertisement {
    background-color: black;
    height: 40px;
    width: 350px;
    margin-right: auto;
    margin-left: 2vw;
}

div.headers > div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.lineSearch {
    background-color: white;
    height: 60px;
    width: 1300px;
    margin: auto;
}

.leftscroll {
    background-color: white;
    width: 40px;
    height: 40px;
    margin-left: auto;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.rightscroll {
    background-color: white;
    width: 40px;
    height: 40px;
    margin-right: auto;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.catalogCategory {
    background-color: blueviolet;
    width: 80vw;
    height: 200px;
    margin: auto;
    overflow: hidden;
}

.categorylist {
    background-color: chartreuse;
    max-width: 10vw;
    height: 170px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    box-sizing: border-box;
}

.maincenter {
    background-color: white;
    width: 85vw;
    height: 11vw;
    margin: auto;
    display: flex;
}

.copyright {
    background-color: darkgoldenrod;
    height: 40px;
    width: 220px;
    margin: auto;
}

.mainlist {
    background-color: chartreuse;
    width: 12vw;
    height: 190px;
    margin: auto;
}

ul {
    margin: auto;
    padding-inline-start;
}

.AdvertisementMain {
    background-color: darkblue;
    height: 80vh;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.Filters {
    background-color: darkgreen;
    height: 80vh;
    width: 25%;
    display: flex;
    align-content: left;
    align-items: left;
}

.Advertisementlist {
    background-color: chartreuse;
    width: 65vw;
    height: 250px;
    margin: auto;
}

.BillboardPicture {
    background-color: darkslateblue;
    height: 80vh;
    width: 40%;
    display: flex;
    float: left;
    align-content: right;
    align-items: center;
    margin-left: 10%;
}

.BillboardInfo {
    background-color: white;
    position: sticky;
    top: 0;
    height: 80vh;
    width: 40%;
    float: left;
    display: flex;
    align-content: left;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.BillboardDescription {
    background-color: white;
    height: 80vh;
    width: 40%;
    display: flex;
    align-items: left;
    margin-left: 10%;
}

.chat {
    background-color: blueviolet;
    width: 65vw;
    height: 42.6vw;
    float: inline-end;
    margin: auto;
    display: flex;
}

* {
    box-sizing: border-box;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

input, button {
    outline: none;
    background: transparent;
}

input {
    width: 90%;
    height: 42px;
    padding-left: 15px;
    border: 5px solid #33BBFE;
}

button {
    border: 0px solid #33BBFE;
    height: 42px;
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #33BBFE;
    cursor: pointer;
}

    button:hover {
        border: 0px solid #33BBFE;
        height: 42px;
        width: 10%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #91d9fd;
    }

input:focus {
    border-color: #33BBFE
}

.TextBildordDescription {
    font-size: 20px;
    font-family: "Pacifico";
}

@font-face {
    font-family: "Pacifico";
    src: url("..//Assets/Pacifico-Regular.ttf");
}
